<div *ngIf="game" id="container" style="padding: 1%;">
    <div style="display: flex;">
        <div id="title-cover-column">
            <div id="game-title-container">
                <input [(ngModel)]="game['title']" />
            </div>
            <div id="game-cover-container"><img src="{{game['cover_url']}}" alt=""></div>
        </div>
        <div id="game-info-column" style="padding-top: 8%; padding-left: 5%;">
            <div id="platforms-container">
                <h3 style="font-weight: bold;">Platforms:</h3>
                <p>{{game['platforms']}}</p>
            </div>
            <div id="release-date-container">
                <h3 style="font-weight: bold;">Release date:</h3>
                <p>{{game['release_date'].seconds * 1000 | date:'dd/MM/yyyy'}}</p>
            </div>
            <div id="developer-container">
                <h3 style="font-weight: bold;">Developer:</h3>
                <input [(ngModel)]="game['developer']" />
            </div>
            <div id="publisher-container">
                <h3 style="font-weight: bold;">Publisher:</h3>
                <input [(ngModel)]="game['publisher']" />
            </div>
            <div id="opencritic-container">
                <h3 style="font-weight: bold;">OpenCritic:</h3>
                <p>Average Score: </p> <input [(ngModel)]="game['opencritic_score'].average_score" />
                <p>Percent recommended: </p> <input [(ngModel)]="game['opencritic_score'].percent_recommended" />
            </div>
            <div id="hltb-container">
                <h3 style="font-weight: bold;">HowLongToBeat:</h3>
                <h4>Main Time: </h4> <input [(ngModel)]="game['hltb_data'].main_time" />
                <h4>Main Extra Time: </h4> <input [(ngModel)]="game['hltb_data'].main_extra_time" />
                <h4>Completionist Time: </h4> <input [(ngModel)]="game['hltb_data'].completionist_time" />
            </div>
        </div>

    </div>

    <button mat-raised-button (click)="saveChanges()">
        Save
    </button>
</div>