<table mat-table [dataSource]="games" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let game"> {{game.title}} </td>
    </ng-container>

    <ng-container matColumnDef="platforms">
        <th mat-header-cell *matHeaderCellDef> Platforms </th>
        <td mat-cell *matCellDef="let game"> {{game.platforms.join(', ')}} </td>
    </ng-container>

    <ng-container matColumnDef="hltb">
        <th mat-header-cell *matHeaderCellDef> HLTB </th>
        <td mat-cell *matCellDef="let game">
            Main: {{game.hltb_data.main_time}}
            <br>
            Main + Extra: {{game.hltb_data.main_extra_time}}
            <br>
            Completionist: {{game.hltb_data.completionist_time}}
        </td>
    </ng-container>

    <ng-container matColumnDef="opencritic">
        <th mat-header-cell *matHeaderCellDef> OpenCritic </th>
        <td mat-cell *matCellDef="let game">
            Average Score: {{game.opencritic_score.average_score || '???'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let gameMap; columns: displayedColumns;" matRipple class="element-row"
        [routerLink]="['/games', gameMap.id]">
    </tr>

</table>